body{
    display:flex;
    flex-direction:column;

    font-family:'Montserrat', sans-serif;

    background-image:url("Background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
html,body{
    margin:0;
    padding:0;
    height:100dvh;
}

@media (max-width:768px){

    body{
        background-attachment:scroll;
    }

}



#map{
    flex:1;

    width:95%;
    margin:0 auto;

    position:relative;

    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

@media (max-width:768px){
    #map{
        height:calc(100dvh - 140px);
    }
}

.map-header {
    position: absolute;
    top: 0.8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2px;

    width: 95%;
}

.judul {
     position: static !important;
    margin: 0;
    transform: none !important;

    font-family: 'Fredoka', sans-serif;
    font-size: 38px;
    font-weight: 1000;

    background: rgba(255, 255, 255, 0.1);
    padding: 2px 5px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: #0B5497;
    text-shadow: 1px 3px 15px rgba(255, 255, 255, 0.9);
    z-index: 2000;
}


.popup-title{
    font-family: 'Fredoka', sans-serif;
    font-size:20px;
    font-weight:500;
    color:#104ea4;
    margin-top:7px;
    margin-bottom:5px;
    line-height:1;
}



.popup-content{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

@media (max-width: 768px){

    .judul{
        font-size:17px;
        margin:10px 8px;
    }

}
@media (max-width:768px){

    html,
    body{
        overflow: hidden;
    }

}

.map-toolbar {
    position: static !important;
    transform: none !important;
    width: 100%;
}

.map-toolbar button {
    background: #0B5497;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;

    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 450;

    box-shadow: 0 2px 8px rgba(214, 214, 237, 0.7);
}

.map-toolbar button:active,
.toolbar-btn:active{
    transform: scale(0.95);
    transition: transform 0.1s;
}

.map-toolbar button:hover{
    background:#629dd4;
}

#searchOverlay{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:white;

    z-index:2000;

    display:none;

    box-sizing:border-box;
    padding:15px;

    overflow-y:auto;

    overscroll-behavior: contain;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

#searchOverlay input {
    font-size: 18px;
}

.search-header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.close-btn{
    border:none;
    background:#f3f3f3;
    padding:8px 14px;
    border-radius:20px;
    cursor:pointer;

    font-family:'Nunito', sans-serif;
    font-weight:700;
}

#searchInput{
    flex:1;
    padding:10px 15px;
    border:1px solid #ddd;
    border-radius:25px;
    outline:none;

    font-family:'Nunito', sans-serif;
    font-size:14px;
}

.map-toolbar{
    position:absolute;
    top:12px;
    left:50%;
    transform:translateX(-50%);
    z-index:1000;
    touch-action: pan-x;

    width:90%;
}

.toolbar-scroll{

    display:flex;
    align-items:center;
    gap:10px;

    overflow-x:auto;
    overflow-y:hidden;

    white-space:nowrap;

    scrollbar-width:none;
    -ms-overflow-style:none;

    -webkit-overflow-scrolling:touch;
}

.toolbar-scroll::-webkit-scrollbar{
    display:none;
}

.nama-umkm{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;

    max-width: 800px;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1;

    font-family:'Nunito Sans',sans-serif;
    font-size:13px;
    font-weight:460;
    

    color:#3b3a37;

    box-shadow:0 2px 5px rgba(255, 255, 255, 0.9);
}

#bottomSheet{
    position:fixed;
    left:0;
    right:0;
    bottom:0;

    height:auto;
    max-height:75vh;
    background:#fafaf7;
    border-radius:25px 25px 0 0;
    box-shadow:0 -5px 20px rgba(0,0,0,.3);
    overflow-y:auto;

    transform:translateY(100%);
    z-index:3000;
}

#bottomSheet.show{
    animation:sheetMasuk .6s forwards;
}

@keyframes sheetMasuk{

    0%{
        transform:translateY(100%);
    }

    75%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}

#bottomSheet.hide{
    animation:sheetKeluar .45s forwards;
}

@keyframes sheetKeluar{

    0%{
        transform:translateY(0);
    }

    20%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(100%);
    }

}


.close-sheet{
    position:absolute;
    top:10px;
    right:10px;

    width:28px;
    height:28px;

    border:none;
    border-radius:50%;

    background:#e3e0e0;
    color:#555;

    font-size:13px;
    font-weight:600;
    line-height:30px;
    text-align:center;

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    transition:.2s ease;
}


#sheetContent{
    padding:50px 20px 20px;
}

.popup-button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.popup-button a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #0B5497;
    padding: 10px 10px;
    border-radius: 12px;
    font-weight: 525;
    white-space: nowrap;
}

#fotoOverlay{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.85);

    z-index:5000;

    justify-content:center;
    align-items:center;

}

#fotoOverlay img{

    max-width:95%;
    max-height:90%;

    border-radius:12px;

}

.popup-kelurahan {
    font-family: "Poppins", sans-serif;
    text-align: center;
    min-width: 180px;
}

.judul-kelurahan {
    font-family: "Fredoka", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #0B5497;
    line-height: 1.3;
}

.info-kelurahan {
    margin-top: 6px;
    font-size: 13px;
    color: #1c1b1b;
}

.btn-gmaps {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 12px;
    background: #0B5497;
    color: white !important;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.hasil-item {
    padding: 12px 14px;
    margin-bottom: 10px;

    background: rgba(181, 209, 235, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;

    cursor: pointer;

    transition:all .25s ease;

    box-shadow:0 2px 6px rgba(0,0,0,.05);
}

.hasil-item:hover{
    background:#f5f7fa;
    border-color:#0B5497;

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.hasil-item:active{
    transform:scale(.98);
}

.hasil-menu {
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.search-item:hover{
    background:#f5f7fa;
    color:#0B5497;
    padding-left:20px;
}


.search-wrapper {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    background: #0B5497;
    border-radius: 20px 0 0 20px;
    font-size: 18px;
}

#searchBox {
    font-size: 16px;
    padding: 7px 10px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 0 20px 20px 0;
}

@media (max-width: 768px) {
    #searchBox {
        font-size: 16.2px;
    }
}

.judul-row {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-kiri {
    position: absolute;
    left: 8px;
    display: flex;
    gap: 5px;
}

.logo-kanan {
    position: absolute;
    right: 8px;
}


.logo-kiri img {
    width: 45px;
    object-fit: contain;
}

.logo-kanan img {
    width: 90px;
    object-fit: contain;
}

.logo-kiri,
.logo-kanan {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 5px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1999;
}

@media (max-width: 768px) {
    .logo-kiri img {
        width: 20px;
    }

    .logo-kanan img {
        width: 50px;
    }
}

.toolbar-btn{
     background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;

    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 450;

    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 8px rgba(214,214,237,.7);
}

.daftar-scroll{
    max-height: 380px;
    overflow-y: auto;
}

.daftar-item {
    padding: 12px 14px;
    margin-bottom: 10px;

    background: rgba(181, 209, 235, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;

    cursor: pointer;

    transition:all .25s ease;

    box-shadow:0 2px 6px rgba(0,0,0,.05);
}


.daftar-item:hover{
    background:#f5f7fa;
    border-color:#0B5497;

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.daftar-item:active{
    transform:scale(.98);
}

.daftar-menu{
    display:block;
    margin:2px 0;
    padding : 0;
    color:#666;
    font-size:13px;
    font-weight:400;
    line-height:1.2;
}

.sheet-title{
    font-family:'Poppins', sans-serif;
    font-size:22px;
    font-weight:700;
    color:#0B5497;

    margin:8px 0 8px;
    padding-bottom:6px;

    border-bottom:2px solid #e8eef5;

    letter-spacing:.3px;
}

.icon-rekomendasi{
    width:22px;
    height:auto;
    flex-shrink:0;
}

